# Question 1

Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(num):
    num = str(num)
    num_reverse = num[::-1]
    if num == num_reverse:
        return True
    return False

In [2]:
is_symmetrical(7227)

True

In [3]:
is_symmetrical(12567)

False

# Question 2

Given a string of numbers separated by a comma and space, return the product of the
numbers.

Examples

multiply_nums(&quot;2, 3&quot;) ➞ 6

multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24

multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0

multiply_nums(&quot;10, -2&quot;) ➞ -20

In [18]:
def multiply_nums(string):
    string =string.split(', ')
    num = [int(i) for i in string]
    multiply = 1
    for i in num:
        multiply = multiply*i
    return multiply

In [19]:
multiply_nums('2, 4')

8

In [20]:
multiply_nums("1, 2, 3, 4")

24

# Question 3

Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes:
The function receives an integer and must return an integer.

In [38]:
def square_digits(num):
    result = ''
    for i in str(num):
        mul = int(i)*int(i)
        result = result+str(mul)
    return int(result)

In [39]:
square_digits(9119)

811181

# Question 4

Create a function that sorts a list and removes all duplicate items from it.
Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [40]:
def setify(list_):
    list_.sort()
    set_ = set(list_)
    return set_

In [41]:
setify([1, 3, 3, 5, 5])

{1, 3, 5}

In [42]:
setify([4, 4, 4, 4])

{4}

# Question 5

Create a function that returns the mean of all digits.
Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

In [45]:
def mean(num):
    sum = 0
    length = len(str(num))
    for i in str(num):
        sum = sum + int(i)
    return int(sum/length)

In [46]:
mean(42)

3